.App {
  text-align: center;
  color: #221f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .todo_container {
  margin-top: 20px;
  background: lightblue;
  width: 50%;
  border-radius: 10px;

  color: #221f1f;
  font-size: 16px;
}
.move-enter {
  opacity: 0;
  transform: scale(0);
  transform-origin: left;
}
.move-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-in-out;
}
.move-exit {
  opacity: 1;
  transform: scale(1);
  transform-origin: left;
}
.move-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 500ms ease-in;
}
/* .items_section_list .move-enter {
  opacity: 0.01;
  transform: translate(-40px, 0);
}

.items_section_list .move-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;
}

.items_section_list .move-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.items_section_list .move-exit-active {
  opacity: 0.01;
  transform: translate(40px, 0);
  transition: all 500ms ease-in;
} */
